@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgb(15 23 42);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(15 23 42);
}

.custom-scrollbar::-webkit-scrollbar-corner {
    background-color: #334155;
    ;
}